{% extends 'base.html' %}
{% load cms_tags menu_tags sekizai_tags cmsplugin_blog_tags %}

{% block extrahead %}
{{ block.super }}
<link rel="alternate" type="application/rss+xml" title="Blog RSS feed" href="{% if request.LANGUAGE_CODE %}/{{ request.LANGUAGE_CODE }}{% endif %}{% url blog_rss %}" />
{% endblock extrahead %}

{% block subtitle %}{{ request.current_page.get_title }}{% endblock subtitle %}

{% block js %}
{{ block.super }}
<script>
$(function() {
    $(".snippet-item a").each(function(ind, el) {
        if (window.location == el.href) {
            $(el).css("font-weight", "bold");
        }
    });
});
</script>
{% endblock %}

{% block css %}
{{ block.super }}
<style>
    
    .entry-excerpt {
        margin-left: 15px;
        color: #666;
    }
    
    #left-col {
        position: absolute;
        left: 0px;
        padding-top: 15px;
        width: 83%;
    }
    
    #right-col {
        position: absolute;
        right: 0px;
        padding-top: 10px;
        width: 13%;
    }
    
    #content_inner {
        position: relative;
    }
    
    #content_holder a {
        text-decoration: none;
        color: #2A6F96;
    }

    #content_holder a:hover {
        color: #3892C5;
    }
    
    .snippet-header {
        padding-top: 12px;
        font-weight: bold;
        color: #555;
        margin-left: -6px;
    }
    
    .snippet-item {
        white-space: nowrap;
        font-size: 0.95em;
        padding: 2px;
    }
        
    .entry-title {
        font-size: 1.6em;
    }
    
    .entry-title a {
        text-decoration: none;
    }

    .entry-subheader {
        padding-left: 2px;
        padding-bottom: 10px;
        font-style: italic;
    }
    
    .entry-date, .entry-authour {
        font-size: 0.9em;
        color: #555;
    }
    
    h2 {
        font-size: 1.6em;
        margin: 1px 0 15px 0;
    }
    
    .plugin_item p {
        padding-bottom: 0;
        padding-left: 2px;
    }
    
    #content_holder {
        margin-top: -15px;
    }
    
    .entry-list-item {
        margin-bottom: 15px;
    }
    
    .entry-list-item .entry-title {
        font-size: 1.15em;
    }
    
    .entry-excerpt {
        font-size: 0.9em;
        margin-top: -4px;
    }    

    #disqus_thread {
        width: 98%;
    }

</style>
{% endblock css %}

{% block contents %}
    <div id="left-col">{% block left-col %}{% endblock %}</div>
    <div id="right-col">{% block right-col %}    
        {% render_month_links %}
        {% render_tag_links %}
    {% endblock %}</div>
{% endblock contents %}

