{% load i18n placeholder_tags cmsplugin_blog_tags simple_translation_tags %}
{% for entry in object_list|annotate_with_translations %}
    
    {% with entry|get_preferred_translation_from_request:request as title %}
    {% with entry.placeholders|choose_placeholder:"excerpt" as excerpt %}
    
    <div class="entry-list-item">
    
        <div class="entry-header">
            <span class="entry-title"><a href="{{ title.get_absolute_url }}">{{ title }}</a></span>
            <span class="entry-date">{{ entry.pub_date|date:"M d, Y" }}</span>
        </div>

        <div class="entry-excerpt">
        {% render_placeholder excerpt %}
        </div>
        
        {% if not forloop.last %}
        <div class="entry-divider"></div>
        {% endif %}
                
    </div>
    
    {% endwith %}
    {% endwith %}
{% endfor %}