@font-styles: "Helvetica", Arial, sans-serif;

// Colors
@white: #ffffff;
@gray: #cccccc;
@easy-black: #2f2f2f;
@black: #000000;
@header-blue: #336799;

// from color scheme
@primary-blue: #466C91;
@primary-purple: #634C99;
@primary-green: #4DB054;
@primary-orange: #DFAC62;

// Font sizes
@large-size: 30px;
@medium-size: 20px;
@small-size: 13px;

// Margins & such
@outer-bumper: 10%;


a {
    color: @white;
}

.container-wide {
    background-color: @header-blue;
}

.nav {
    position: relative;
    top: 55px;

    li {
        margin-left: 30px;

        a {
            font-size: @medium-size;
        }
    }
}




// Elements
/*
html {
    overflow-y: scroll;
}

body {
    margin: 0;
    font-family: @font-styles;
    min-width: 600px;
}

a {
    text-decoration: none;
}

.header {
    background-color: @header-blue;
    width: 100%;
    height: 100px;
}

.mainlogo {
    margin-left: @outer-bumper;
}

.sitewide-navigation {
    list-style-type: none;
    float: right;
    margin-right: @outer-bumper;

    li {
        display:inline;

        a {
            margin-left: 70px;
            font-size: @medium-size;
            margin-top: 50px;
            display: inline-block;
            color: @white;
            float: right;
        }

        a:hover {
            color: @gray;
            text-decoration: none; 
        }
    }   
}

.selected {
    border-bottom: 1px solid @gray;
    padding-bottom: 1px;
}

.footer-container {
    margin: 20px auto;
    p {
        font-size: @small-size;
        color: #777;
        text-align: center;
    }
}
*/

