<!DOCTYPE HTML>

<html>
<head>
    
    {% load staticfiles %}

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	 {% block titletag %}
	 <title>{% block title %}{% endblock title %} | Foundation for Learning Equality</title>
	 {% endblock %}

    <link href="{% static 'css/base.less' %}" media="all" rel="stylesheet/less" />
	{% block basecss %}
    {% endblock basecss %}
    {% block headcss %}{% endblock headcss %}
    
    <script src="{% static 'js/less.js' %}" type="text/javascript"></script>
    {% block headjs %}{% endblock headjs %}
    {% block basejs %}{% endblock basejs %}

    {% block extrahead %}{% endblock extrahead %}
    {% block analytics %}
    {% endblock analytics %}
</head>

<body>
	<div class="header">
        <div class="top-container">
            <a class="mainlogo" href="{% url home %}"></a>
            <div class="sitewide-navigation">
                <a class="sitewide-navigation-text {% block involved_nav %}{% endblock involved_nav %}" href="">Get Involved</a>
                <a class="sitewide-navigation-text {% block about_nav %}{% endblock about_nav %}" href="{% url radpress-article-list %}">Blog</a> 
                <a class="sitewide-navigation-text {% block home_nav %}{% endblock home_nav %}" href="{% url home %}">Home</a>
             </div>
        </div>
    </div>
	{% block contents %}{% endblock contents %}

    <div class="footer">
        <div class="footer-legal">&copy; 2013 Foundation for Learning Equality</div>
    </div>
</body>
</html>

</html>