{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block about_nav %}selected{% endblock about_nav %}

{% block body %}
<div class="content-container">
	<div class="white-container">
		<p class="card-header-text">About</p>
        <hr>
        <p class="about-text">The Foundation for Learning Equality (FLE), currently in the process of incorporation as a California-based nonprofit organization, is dedicated to creating tools for the sharing and creation of open-licensed educational content for use by anyone around the world, with special emphasis on reaching the 65% of the world that does not have Internet access.</p>

	</div>

</div>

{% endblock body %}