{% extends 'base.html' %}

{% block title %}Get involved{% endblock title %}

{% block involved_nav %}selected{% endblock involved_nav %}

{% block body %}
<div class="content-container">
	<div class="white-container">
		<p class="card-header-text">Get Involved with FLE</p>
        <hr>
        <p class="about-text">To get involved with the Foundation for Learning Equality, send us an email at <a href="mailto:info@learningequality.org">info@learningequality.org</a></p>
        
        <p class="about-text">If you'd like to learn about ways to contribute to the KA Lite project, visit <a href="http://kalitewiki.learningequality.org/contribute">the KA Lite wiki</a>.</p>
	</div>

</div>

{% endblock body %}