{% extends 'base.html' %}

{% block home_nav %}selected{% endblock home_nav %}

{% block body %}

    <div class="content-container">
        <div class="main-featured"></div>
        <div class="white-container">
            <p class="card-header-text">Current Projects</p>
            <hr>
            <div class="card-column center">
                <a href="http://kalite.learningequality.org/">
                    <img class="small-img card-cta-logo" src="/static/images/ka-black-white.png"/>
                </a>
                <p class="card-cta-text">Only 35% of the world has internet<br/>100% of the world needs education</p>
                <a class="cta-btn" href="http://kalite.learningequality.org/">Learn More</a>
            </div>
            <div class="card-column">
                <p class="card-description-text">KA Lite is an offline version of Khan Academy that runs on almost anything.</p>
                <ul>
                    <li class="card-text">Bringing the online education revolution to developing countries.</li>
                    <li class="card-text">Synchronize and manage your organization's deployments.</li>
                    <li class="card-text">Quick installation, minimal system requirements, and simple to use.</li>
                    <li class="card-text">Students can earn points, teacher can view coach reports.</li>
                    <li class="card-text">Choose which videos to download, and languages for subtitles.</li>
                </ul>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>

{% endblock body %}